.about {
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}

.title {
    display: flex;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    margin-bottom: 45px;
}

.title span {
    font-weight: 100;
}

.about .content {
    width: 100%;
    padding: 0 20%;
}

.about .qoute-text {
    font-size: 40px;
    font-weight: 100;
    margin-top: 30px;
    font-style: italic;
}
