.header.dark {
    width: 100%;
    height: 100vh;
    position: relative;
    color: #a7a7a7;
}

.header.dark {
    background-color: #2e2e2e;
}

.header.light {
    background-color: #dbdbdb;
}

.header .name {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    pointer-events: none;
    flex-direction: column;
}

.name > div {
    display: flex;
    align-items: center;
}

.header .name .first-name {
    font-size: 178px;
    font-family: Belligiant;
    height: 150px;
    margin-top: 30px;
}

.header.dark .name .first-name {
    color: white;
}

.header.light .name .first-name {
    color: #474747;
}

.header .name .last-name {
    font-size: 28px;
    letter-spacing: 90px;
    text-transform: uppercase;
    height: 70px;
    margin-left: -40px;
    font-weight: 100;
}

.header.dark .name .last-name {
    color: white;
    opacity: 0.4;
}

.header.light .name .last-name {
    color: #2e2e2e;
    opacity: 0.7;
}

.small-bio {
    position: absolute;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-bio div {
    transform-origin: center;
    transform: rotate(90deg);
    padding-top: 8px;
}

.small-bio span {
    text-transform: uppercase;
    font-weight: 100;
    color: #23cfa4;
}

.header.light .small-bio {
    color: #474747;
}

.header.light .small-bio span {
    color: #02c997;
    font-weight: 400;
}

.navigator {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
}

.header.light .navigator > div {
    background-color: #adadad;
    color: #464646;
}

.navigator .arrow {
    width: 140px;
    height: 140px;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator .arrow > svg {
    opacity: 0.4;
}

.navigator .arrow:hover {
    cursor: pointer;
}

.navigator .arrow:hover > svg {
    opacity: 0.9;
}
