.social {
    position: absolute;
    height: 100vh;
    width: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    pointer-events: none;
}

.social>div {
    width: 100%;
    text-align: center;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .social-icon {
    width: 26px;
    height: 26px;
    color: white;
    opacity: .3;
    pointer-events: all;
}

.social .social-icon:hover {
    opacity: .8;
    cursor: pointer;
}