.social {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;
    pointer-events: none;
    left: 80px;
}

.social > a {
    display: flex;
    justify-content: center;
    opacity: 0.5;
    margin: 15px 0;
}

.social.light .social-icon {
    color: #3f3f3f;
}

.social.light .social-icon:hover {
    color: #000000;
}

.social.dark .social-icon {
    color: #b3b3b3;
}

.social.dark .social-icon:hover {
    color: white;
}

.social .social-icon {
    pointer-events: all;
}
