.themes {
    position: absolute;
    bottom: 35px;
    right: 80px;
    display: flex;
    align-items: flex-end;
    color: white;
    height: 24px;
    z-index: 5;
    pointer-events: auto;
}

.themes > div {
    display: flex;
    cursor: pointer;
    transition: 0.1s;
    align-items: center;
}

.themes > div:hover {
    padding-bottom: 3px;
}

.themes.dark > div {
    color: #666666;
}

.themes.light > div {
    color: #979797;
}

.themes.dark > div.active {
    color: white;
}

.themes.light > div.active {
    color: #3f3f3f;
}

.dark-theme {
    margin-left: 15px;
}
