.app {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: radial-gradient(
        circle,
        #464646,
        #3f3f3f,
        #393939,
        #323232,
        #2c2c2c
    );
}

.rect {
    position: absolute;
    height: 200%;
    top: -50%;
    width: 620px;
    left: calc(50% - 310px);
    transform-origin: center;
    transform: rotate(25deg);
    background-image: radial-gradient(
        circle,
        #00a080,
        #008c70,
        #007860,
        #006550,
        #005241
    );
    opacity: 0.2;
}
