.app {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: radial-gradient(
        circle,
        #464646,
        #3f3f3f,
        #393939,
        #323232,
        #2c2c2c
    );
}

.rect {	
    position: absolute;	
    height: 100vh;	
    width: 50vw;	
    left: 0;	
    background-color: black;	
    opacity: 0.15;	
}
