.navigation {
    position: absolute;
    height: 90px;
    display: flex;
    z-index: 5;
    width: calc(100% - 160px);
    justify-content: space-between;
    margin: 0 80px;
    pointer-events: none;
}

.home-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
    pointer-events: auto;
    font-weight: 300;
    color: #d1d1d1;
}

.home-btn .text {
    display: flex;
    margin-left: 15px;
    font-weight: 400;
}

.home-btn .text > div {
    color: #00c9a1;
}

.home-btn .text > div {
    font-weight: 400;
    text-transform: uppercase;
}

.items {
    display: flex;
}

.items > div {
    color: #d1d1d1;
}

.items > div:hover {
    color: white;
    opacity: 1;
}

.items > div:last-of-type {
    padding-right: 0;
}

.items > div {
    padding: 35px 0;
    margin: 0 35px;
    transition: 0.1s;
    white-space: nowrap;
    pointer-events: auto;
}

.items > div:hover {
    cursor: pointer;
    padding-top: 38px;
    transition: 0.1s;
}

.items > div.active {
    border-bottom: 1px solid white;
    color: white;
    opacity: 1;
}
