.fix-elements {
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    pointer-events: none;
    color: #d1d1d1;
}

.small-bio {
    position: absolute;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color: #d1d1d1;
}

.small-bio div {
    transform-origin: center;
    transform: rotate(90deg);
    padding-top: 8px;
}

.small-bio span {
    text-transform: uppercase;
    font-weight: 100;
    color: #23cfa4;
}

.simple-navigator {
    position: absolute;
    bottom: 35px;
    left: 80px;
    display: flex;
    z-index: 5;
    pointer-events: none;
    color: #d1d1d1;
    opacity: 0.4;
}

.navigation-indicators {
    position: absolute;
    bottom: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
    pointer-events: none;
    height: 24px;
}

.navigation-indicators .indicator-container {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.navigation-indicators .indicator-container > div {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    opacity: 0.7;
}

.navigation-indicators .indicator-container:hover {
    cursor: pointer;
}

.navigation-indicators .indicator-container > div.active {
    opacity: 1;
}

.navigation-indicators .indicator-container > div.active {
    background-color: #d1d1d1;
}

.page-number {
    position: absolute;
    left: 250px;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
    z-index: 5;
    color: #d1d1d1;
}

.page-number .number {
    font-size: 90px;
    opacity: 0.3;
    display: flex;
    align-items: center;
}

.page-number .number span {
    font-size: 20px;
}

.page-number .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
}

.page-number .button:hover {
    color: white;
    cursor: pointer;
}

.page-number .button[disabled] {
    pointer-events: none;
    opacity: 0;
}
