.social {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    pointer-events: none;
    left: 80px;
}

.social>div {
    width: 100%;
    text-align: center;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
}

.social.light .social-icon {
    color: #3f3f3f;
}

.social.light .social-icon:hover {
    color: #000000;
}

.social.dark .social-icon {
    color: #b3b3b3;
}

.social.dark .social-icon:hover {
    color: white;
}

.social .social-icon {
    width: 26px;
    height: 26px;
    pointer-events: all;
}

.social .social-icon:hover {
    cursor: pointer;
}