.social {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    pointer-events: none;
    bottom: 35px;
}

.social > a {
    display: flex;
    justify-content: center;
    opacity: 0.7;
    margin: 0 25px;
}

.social.light .social-icon {
    color: #3f3f3f;
}

.social.light .social-icon:hover {
    color: #000000;
}

.social.dark .social-icon {
    color: #b3b3b3;
}

.social.dark .social-icon:hover {
    color: white;
}

.social .social-icon {
    pointer-events: all;
}

.social .social-icon:hover {
    cursor: pointer;
}
