.navigation {
    position: absolute;
    height: 90px;
    display: flex;
    z-index: 5;
    width: calc(100% - 160px);
    justify-content: space-between;
    margin: 0 80px;
    pointer-events: none;
}

.home-btn {
    padding: 35px 35px 0 0;
    cursor: pointer;
    display: flex;
    pointer-events: auto;
}

.navigation.light .home-btn {
    color: #3f3f3f;
}

.navigation.light .home-btn div {
    color: #00b6ce;
    font-weight: 400;
}

.navigation.dark .home-btn {
    color: white;
}

.navigation.dark .home-btn div {
    color: #15d4ed;
}

.home-btn div {
    font-weight: 100;
    transition: .1s;
    color: #15d4ed;
    text-transform: uppercase;
}

.home-btn:hover div {
    margin-top: 3px;
    transition: .1s;
}

.items {
    display: flex;
}

.navigation.dark .items>div {
    color: #a7a7a7;
}

.navigation.dark .items>div:hover {
    color: white;
}

.navigation.light .items>div {
    color: #3f3f3f;
}

.navigation.light .items>div:hover {
    color: black;
}

.items>div:last-of-type {
    padding-right: 0;
}

.items>div {
    padding: 35px;
    transition: .1s;
    white-space: nowrap;
    pointer-events: auto;
}

.items>div:hover {
    cursor: pointer;
    padding-top: 38px;
    transition: .1s;
}