.navigation {
    position: absolute;
    height: 90px;
    display: flex;
    z-index: 5;
    width: calc(100% - 160px);
    justify-content: space-between;
    user-select: none;
    margin: 0 80px;
}

.home-btn {
    padding: 35px 0;
    cursor: pointer;
    display: flex;
}

.home-btn div {
    font-weight: 100;
    transition: .1s;
    color: #15d4ed;
    text-transform: uppercase;
}

.home-btn:hover div {
    margin-top: 3px;
    transition: .1s;
}

.items {
    display: flex;
}

.items>div:last-of-type {
    padding-right: 0;
}

.items>div {
    padding: 35px;
    opacity: .4;
    transition: .1s;
    white-space: nowrap;
}

.items>div:hover {
    opacity: .9;
    cursor: pointer;
    padding-top: 38px;
    transition: .1s;
}